<% if (!user) { %>
  <h2>Welcome! Please log in.</h2>
  <a href="/login/?p=B2C_1_susi">Sign In</a>
<% } else { %>
  <h2>Hello, <%= user.emails[0] %>.</h2>
  <a href="/account">Account Info</a></br>
  <a href="/logout">Log Out</a>
<% } %>
